@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300);

html {padding-top:15px;}
p, li {font-family: "Open Sans";}
b {font-weight: bold;}
.wh {color:#fff;}
.container p {line-height: 1.85em;}
.sixteen.cols h3 {margin-top: 10px;}
a:link {text-decoration:none; color: #333;}
.h_contact{padding-bottom:5px;}
.leftside{float:left;padding-bottom: 10px;}
.rightside{float:right;padding-bottom: 10px;}
.label-info {background: orange;}
.sidebar {padding-top: 20px}
.sidebar a {color: #88d;display: block;line-height: 1.8em;}
.sidebar h5 {margin-bottom: 15px !important;font-family: "Open Sans";font-weight: bold;color: #666}
.sidebar a:before, .sidebar2 span:before {content:""; padding-left: 8px;}
.sidebar i, .sidebar2 i {float: left; width: 20px;text-align: center;padding-top: 4px;}
.sidebar2 {color: #fff;width: 250px;}
.sidebar2 span {display: block;width: auto;line-height: 1.8em;}
.sidebar2 .label-info {background: #333;margin-bottom: 8px;line-height: 1.5em;}

.orange-button-large, .orange-button-large a:hover {border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
.orange-button-large {margin-top: 46px;background: orange;text-align: center;}
.orange-button-large a {display: block;font-family: "Source Sans Pro";font-size: 21px;color: #fff;text-shadow: 1px 1px 1px #333;padding: 15px 10px;}

footer {background: orange;width: 1060px;height: 10%;color: #fff;font-size: 11pt;padding: 20px 0;border-top: 2px solid #ca6f3c}
.menushadow, #appendFooter {min-width: 980px;width: 100%;}

.pad20 {padding-top: 20px}
.smallheader {margin-top: 10px;font-size: 14px}
.b{border:1px solid #000}

.menushadow {position: absolute;width: 100%;height: 85px;-moz-box-shadow: 3px 3px 4px #ccc;-webkit-box-shadow: 3px 3px 4px #ccc;box-shadow: 3px 3px 4px #ccc;}
.clearboth {clear: both;}
iframe {padding: 60px 0;}
#fader {position: relative;float: left;}
#fader img {display: block;position: absolute;}
#fader img:first-child {position: relative;float: left;}
.billboard img {border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}
.fader-width img {min-width: 960px;}

footer {margin-top: 30px}
.container h3 {font-family: "Open Sans";color: #333;font-size: 15pt;font-weight: 600;}
.bigheadline p {font-family: "Source Sans Pro";font-size: 17pt;line-height: 23pt;}
nav {font-family: "Open Sans", Arial;font-size: 11pt;font-weight: 300;}
nav ul {margin: 0;padding: 0;list-style: none;}
nav ul li {display: block;float: left;}
nav li ul {z-index: 1;box-shadow: 0 0 12px #aaa;display: none;background: #fff;}
nav ul li a {margin: 0;display: block;padding: 8px 11px;white-space: nowrap;}
nav ul li a:hover {text-decoration: none;background: #f89e00;color: #fff;border-top-left-radius:5px;border-top-right-radius:5px;}
nav li:hover ul {display: block;position: absolute;}
nav li:hover li {float: none;font-size: 11px;margin:0;}
nav li:hover a {position: relative;z-index: 2 !important;background: #f89e00;color: #fff;}
nav li:hover li a {background: #fff;color: #333;font-size: 11pt;}
nav li:hover li a:hover {text-decoration: none;background: #f89e00;color: #fff;}
.semicorner a, .semicorner :hover {border-top-left-radius:5px;border-top-right-radius:5px;}
nav ul, .semicorner ul li a:hover {border-top-left-radius:0 !important;border-top-right-radius:0 !important;border-bottom-left-radius:0 !important;border-bottom-right-radius:0 !important;}
